body {
width:1100px;
margin: 0px auto;
/*border-style:groove;
border-color:black;*/
}

#center {
width:1080px;
margin:10px auto;
height:auto;
float:left;
  /*border-style:groove;
border-color:blue;*/
}

#LoginDiv {
    width:254px;
    height:82px;
    position:relative;
    top: -1px;
    left: 785px;
}


#center-left {
    min-height:500px;
    width:752px;
    height:282px;
    float:left;
    /*border-style:groove;
    border-color:yellow;*/

}
#footer {
    float:left;
    width:1050px;
    height:200px;
    
}

#center-right {
   min-height:500px;
    width:250px;
    display:inline;
    height:auto;
    float:right;
      /*border-style:groove;
    border-color:green;*/
}

.search_form{position:relative; height:54px;
display:inline-block; width:750px;
    top: 0px;
    left: 0px;
   
}
.search_form:hover{-webkit-box-shadow:0 0 3px #999;-moz-box-shadow:0 0 3px #999}
.sinput{ line-height:21px; padding:4px 7px; color:b3b3b3; position:relative;
        font-size:large; 
border:1px solid #999; border-radius:2px 0 0 2px; background-color:#fbfbfb;
    top: 0px;
    left: 0px;
    height: 41px;
    width: 411px;
}
.sbtn{
    position:relative;
    margin-right:5px;
    background-color:greenyellow;
    border-radius:0 2px 2px 0; border:1px solid #4d90fe; cursor:pointer;
    font-family: YouYuan;
    font-weight:bold;
    font-size:large;
    color:whitesmoke;
    height: 34px;
    width: 119px;
    top: -1px;
    left: 21px;
}
.sbtn:hover{background:#4084f2}

/*header*/

a:link{color:#0041D9;text-decoration:none;outline:none;}
a:visited{color:#0041D9;text-decoration:none;outline:none;}
a:hover{color:#f60;text-decoration:underline;outline:none;}
a:active{color:#0041D9;text-decoration:none;outline:none;}
#header{position:relative;width:72%;
}
div.bar{position:relative;height:42px;background:url(http://www.mianfeimoban.com/uploadfile/2012/0307/menu_1/mainmenu.bg14_6x42.gif) repeat-x;}
#header div.tabbar{width:751px;
    height: 28px;
}
#header .tabbar div.tabs{left:168px;
position:absolute;top:37px;
font-size:14px;font-weight:bold;
}
#header .tabbar .tabs a{float:left;width:80px;height:24px;line-height:24px;padding-top:7px;text-align:center;color:#000;font-weight:lighter;font-size:14px;background:transparent;}
#header .tabbar .tabs a:hover{background:#fff url(http://www.mianfeimoban.com/uploadfile/2012/0307/menu_1/nav_hover_80x31.gif) no-repeat;text-decoration:none;margin-left:-1px;padding-left:1px;}
#header .tabbar .tabs a.actived{background:#fff url(http://www.mianfeimoban.com/uploadfile/2012/0307/menu_1/nav_80x31.gif) no-repeat;font-weight:bold;color:#fff;margin-left:-1px;padding-left:1px;}
#header .tabbar .tabs a.actived:hover{background:#fff url(http://www.mianfeimoban.com/uploadfile/2012/0307/menu_1/nav_80x31.gif) no-repeat;font-weight:bold;color:#fff;text-decoration:underline;}
#header .tabbar .bg{position:absolute;left:169px;
top:40px;
width:560px;height:31px;z-index:-1;
}
#header .tabbar .bg .nw{float:left;width:80px;height:31px;background:transparent url(http://www.mianfeimoban.com/uploadfile/2012/0307/menu_1/navleft2_80x31.gif) no-repeat;}
#header .tabbar .bg .cen{float:left;width:80px;height:31px;background:transparent url(http://www.mianfeimoban.com/uploadfile/2012/0307/menu_1/navlcenter_80x31.gif) no-repeat;}
#header .tabbar .bg .ne{float:left;width:80px;height:31px;background:transparent url(http://www.mianfeimoban.com/uploadfile/2012/0307/menu_1/navright_80x31.gif) no-repeat;}
#header .tabbar .float_icon{background:transparent url(http://www.mianfeimoban.com/uploadfile/2012/0307/menu_1/new01_18x19.gif) no-repeat;font-size:0;height:19px;line-height:0;position:absolute;right:403px;text-indent:-999px;top:-4px;width:18px;}
#header{z-index:20;min-width:970px;
    top: 2px;
    left: 2px;
}
#header div.banner{position:relative;height:72px;z-index:10;
    top: 0px;
    left: 0px;
    width: 753px;
}
div.bar{height:7px;background:url(http://www.mianfeimoban.com/uploadfile/2012/0307/menu_1/mainmenu.bg11_6x7.gif) repeat-x;}
/*header*/