.wrapper-border-green {
    border-style:groove;
    border-width:thin;
    border-color:greenyellow;
    position:relative;
}

.wrapper-background-green-border-grey {
border-style:groove;
border-width:thin;
border-color:grey;
background-color:#DDFFF8
}

.wrapper-border-grey {
    border-style:groove;
border-width:thin;
border-color:grey;
padding:10px;
}

.wrapper-border-blue {
border-style:ridge;
border-width:thin;
border-color:blue;
padding:10px;
}


.wrapper-border-orange {
border-style:ridge;
border-width:thin;
border-color:orange;
padding:10px;
}

